div {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
}
code {
	white-space: pre-wrap;
	font-size: 0.9em;
	font-family: "Source Code Pro";
}
#document {
	display: block;
	height: 100%;
	width: 100%;
}
#links-bar {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	border-right: solid #e0e0e0 1px;
	position: fixed;
}
#main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-left: 20em;
}
#top-bar {
	width: 100%;
	padding-left: 1em;
}
#divider{
	border-bottom: solid #e0e0e0 1px;
}
#gen-content {
	padding-left: 1em;
	width: 75%;
}

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	background-color: #FBF8F3;
	color: #333;
}
	
h1 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h2 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-decoration: underline;
}
ul {
	margin: 0px;
}
p {
	margin-top: 0.2em;
	margin-bottom: 0.2em;	
}

hr {
	margin-right: 1em;
	border: none;
	border-bottom: solid #e0e0e0 1px;
}
#logo {
	width: 12em;
}
.code-box {
	padding: 1em;
	background-color: white;
	/*max-width: 50em;*/
	display: inline-block;
	padding-right: 5em;
	font-family: "Source Code Pro";
	font-size: 0.9em;
}
.code-keyword {
	color: blue;
}
.code-comment {
	color: grey;
}
a {
	text-decoration: none;
	color: purple;
}
#links-bar > a {
	text-overflow: ellipsis;
	overflow: hidden;
}
