<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;700&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css?v=STYLE_HASH"/>
</head>

<body>
<div id="document">
<div id="links-bar">
<a href="index.html"><img id="logo" src="logo-buildit.png"></a>

<h3>General</h3>
<a href="installation.html">Installation</a>
<h3>Classes</h3>
<a href="builder_context.html"><code>builder::builder_context</code></a>
<a href="dyn_var.html"><code>builder::dyn_var</code></a>
<a href="static_var.html"><code>builder::static_var</code></a>
<a href="dyn_arr.html"><code>builder::dyn_arr</code></a>

<h3>Functions</h3>
<a href="compile_function.html"><code>builder::compile_function</code></a>

</div>


<div id="main-content">
<div id="top-bar">
<h1>BuildIt</h1>
<!--<p>
A framework for rapidly developing high-performance Domain Specific Languages (DSLs) with little to no compiler knowledge.
</p>-->
</div>
<div id="divider"></div>

<div id="gen-content">

