<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;700&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css?v=STYLE_HASH"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


</head>

<body>
<div id="document">
<div id="links-bar">
<a href="index.html"><img id="logo" src="logo-buildit.png"></a>

<h3>General</h3>
<a href="installation.html">Installation</a>
<h3>Classes</h3>
<a href="builder_context.html"><code>builder::builder_context</code></a>
<a href="dyn_var.html"><code>builder::dyn_var</code></a>
<a href="static_var.html"><code>builder::static_var</code></a>
<a href="dyn_var.html#t-with_name"><code>builder::with_name</code></a>
<a href="dyn_var.html#t-as_global"><code>builder::as_global</code></a>
<a href="defer_init.html"><code>builder::defer_init</code></a>
<a href="custom_type.html"><code>builder::custom_type</code></a>
<h3>Functions</h3>
<a href="compile_function.html"><code>builder::compile_function</code></a>

</div>


<div id="main-content">
<div id="top-bar">
<h1>BuildIt</h1>
<!--<p>
A framework for rapidly developing high-performance Domain Specific Languages (DSLs) with little to no compiler knowledge.
</p>-->
</div>
<div id="divider"></div>

<div id="gen-content">

